{% extends 'dashboard/index.html' %}
{% block content %}
<br>
<div id="page-wrapper" >
	<div class="graphs">
		<div class="col_3">
			{% for i in b %}
			<div class="col-md-3 widget widget1">
				<div class="r3_counter_box">
					<i class="fa fa-mail-forward"></i>
					<div class="stats">
					  <h5><span></span></h5>
					  <div class="grow">
						<a href="{% url 'course_view2' i.id %}"><p>{{i.course_name}}</p></a>
					  </div>
					</div>
				</div>
			</div>
			{% endfor %}
			
			<div class="clearfix"> </div>
		</div>
			<div id="page-wrapper">
				<div class="graphs">
					<h3 class="blank1">Data Table</h3>
          <form action="{% url 'search_pre' %}" method="get" style="margin:auto;max-width:800px">
						{% csrf_token %}
						<!-- <h2 class="weh2"> -->
						<input type="search" placeholder="Enter name or admission no " name="query" id='search-text-input' style="width: 33em;">
						<button sty><i class="fa fa-search" aria-hidden="true"></i></button>
						<!-- <input type="submit" value="search"> -->
					</form>		<br>
					 <div class="xs tabls">
						<div class="bs-example4" data-example-id="contextual-table">
						<table class="table">
						  <thead>
							<tr> 
                                <th>Student Name</th>
                                <th>Admission Number</th>
                                <th>SSLC School</th>
                                <th>SSLC %</th>
                                <th>SSLC Passout Year</th>
                                <th>HSS School</th>
                                <th>HSS %</th>
                                <th>HSS Passout Year</th>
                                <th>College Name</th>
                                <!-- <th>Course</th> -->
                                <th>College Passout Year</th>
                                <th>year gap</th>
                                <th>Institution Name</th>
                                <th>Appruval Status</th>
                                {% if user.teacher == 'HOD' %}
                                <th>Approve</th>
                                {% endif %}
                                <th>Appruve</th>
							</tr>
						  </thead>
						  <tbody>
               
							 {% if a %}
                            {% for value in a %}
							            <tr class="active">
                                <td>{{value.student.name}}</td>
                                <td>{{value.student.admission_no}}</td>
                                <td>{{value.sslc_school_name}}</td>
                                <td>{{value.sslc_Persentage}}</td>
                                <td>{{value.sslc_passout_year}}</td>
                                <td>{{value.higher_secondary_school_name}}</td>
                                <td>{{value.hss_persentage}}</td>
                                <td>{{value.hss_passout_year}}</td>

                                <td>{{value.college_name}}</td>
                                <!-- <td>{{value.course_name}}</td> -->
                                <td>{{value.college_passout_year}}</td>
                                <td>{{value.year_gap}}</td>
                                <td>{{value.institution_last_studied}}</td>
                                {% if value.approve == True %}
                                <td>Appruved</td>
                                {% else %}
                                <td>Not Appruved Yet</td>
                                {% endif %}
                                <td><a href="{% url 'preappruve' value.id %}">Appruve</a></td>
                               
							            </tr>
                            {% endfor %}
							
						  </tbody>
              {% else %}
              <h2>No data found</h2>
              {% endif %}
						</table>
					   </div>
					   
						</div><!-- /.table-responsive -->
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		{% endblock %}