{% extends 'dashboard/index.html' %}
{% block content %}
<br>
			<div id="page-wrapper">
				<div class="graphs">
					<h3 class="blank1">Student Details</h3>
					

                   
					 <div class="xs tabls">
						<div class="bs-example4" data-example-id="contextual-table">
						<table class="table">
						  <thead>
							<tr>
							  <th>#</th>
							  
							 
							  <th>Student</th>
							  <th>Email</th>
							  <th>Admission No</th>
							  <th>Regsiter No</th>
							  <th>Name</th>
							  <th>Adhar</th>
							  <th>Dob</th>
							  <th>House Name</th>
                              <th>Place</th>
                              <th>Land Mark</th>
                              <th>District</th>
                              <th>Pincode</th>
                              <th>Semester</th>
                              <th>Course Name</th>
							 
							 
							 
							 
							</tr>
						  </thead>
						  <tbody>
                             


                              {% for list in t %}
							<tr class="active">
							<td class="serial">{{ forloop.counter }}</td> 
							
							  <td>{{list.user.username}}</td>
							  <td>{{list.email}}</td>
							  <td>{{list.admission_no}}</td>
							  <td>{{list.register_no}}</td>
                              
							  <td>{{list.name}}</td>
							  <td>{{list.adhar_no}}</td>
							  <td>{{list.dob}}</td>
							  <td>{{list.house_name}}</td>
                              <td>{{list.place}}</td>
                              <td>{{list.landmark}}</td>
                              <td>{{list.district}}</td>
                              <td>{{list.pincode}}</td>
                              <td>{{list.semster}}</td>
                              <td>{{list.course_name}}</td>
							  
							  
                               
							</tr>
                            {% endfor %}

                            
							
						  </tbody>
						</table>
					   </div>
					   
						</div><!-- /.table-responsive -->
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		{% endblock %}