{% extends 'dashboard/index.html' %}
{% block content %}
<br>
			<div id="page-wrapper">
				<div class="graphs">
					<h3 class="blank1">Data Table</h3>
					
					 <div class="xs tabls">
						<div class="bs-example4" data-example-id="contextual-table">
						<table class="table">
						  <thead>
							<tr>
							  <th>#</th>
							  
							 
							  <th>title</th>
							  <th>Notification</th>
							  <th>Publish date</th>
							  <th>Starting date</th>
							  <th>Ending Date</th>
							  <th>Type</th>
							  <th>Course</th>
							  <th>Semster</th>
                              <th>Link</th>
							  <th>Appruval status</th>
							  <th>Update</th>
							  <th>Delete</th>
							 
							</tr>
						  </thead>
						  <tbody>
							
                            {% for list in t %}
							<tr class="active">
							<td class="serial">{{ forloop.counter }}</td> 
							
							  <td>{{list.title}}</td>
							  <td>{{list.notification}}</td>
							  <td>{{list.notification_publish_date}}</td>
							  <td>{{list.starting_date}}</td>
                              
							  <td>{{list.ending_date}}</td>
							  <td>{{list.notification_type}}</td>
							  <td>{{list.course}}</td>
							  <td>{{list.semster}}</td>
                                
							  <td>{{list.link}}</td>
							 
                                {% if list.approve == True %}
                                <td>Appruved</td>
                                {% else %}
                                <td>Not Appruved</td>
                                {% endif %}
							  <td><a href="{% url 'update_noti' list.id %}" style="color: red;">Update Details</a></td>
                               <td><a href="{% url 'delete_noti_details' list.id%}" style="color: red;" onclick="return confirm('are u sure d u want to delete this record')">Delete</a></td>
							</tr>
                            {% endfor %}
							
						  </tbody>
						</table>
					   </div>
					   
						</div><!-- /.table-responsive -->
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		{% endblock %}