{% extends 'dashboard/index.html' %}
{% block content %}
<br>
			<div id="page-wrapper">
				<div class="graphs">
					<h3 class="blank1">Data Table</h3>
					<form action="{% url 'search_studentbook' %}" method="get" style="margin:auto;max-width:800px">
						{% csrf_token %}
						<!-- <h2 class="weh2"> -->
						<input type="search" placeholder="Enter Student admission number or name" name="query" id='search-text-input' style="width: 33em;">
						<button sty><i class="fa fa-search" aria-hidden="true"></i></button>
						<!-- <input type="submit" value="search"> -->
					</form>		<br>
					 <div class="xs tabls">
						<div class="bs-example4" data-example-id="contextual-table">
						<table class="table">
						  <thead>
							<tr>
							  <th>#</th>
							  <th>Student Name</th>
							  <th>Admission Number</th>
							  <th>Book Name</th>
							  <th>Issue Date</th>
							  <th>Due Dtae</th>
							  <th>Return Date</th>
							  <th>Update</th>
							  <th>Delete</th>
							</tr>
						  </thead>
						  <tbody>
                            {% for list in books %}
							<tr class="active">
							<td class="serial">{{ forloop.counter }}</td> 
							  <td>{{list.student.name}}</td>
							  <td>{{list.student}}</td>
							  <td>{{list.book_name}}</td>
							  <td>{{list.issue_date}}</td>
							  <td>{{list.due_date}}</td>
							  <td>{{list.return_date}}</td>
							  <td><a href="{% url 'update_book' list.id %}" style="color: red;">Update Details</a></td>
              <td><a href="{% url 'delete_book_details' list.id%}" style="color: red;" onclick="return confirm('are u sure d u want to delete this record')">Delete</a></td>
							</tr>
                            {% endfor %}
							
						  </tbody>
						</table>
					   </div>
					   
						</div><!-- /.table-responsive -->
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}